.content-detail td{
    padding:15px;
    color: #292b2c;
}

.content-detail:nth-child(2n) {
  background-color: rgb(255,255,255);
}
.content-detail:nth-child(2n + 1) {
  background-color: rgb(242,242,242);
}
.content-detail:hover{
    background-color:rgb(235, 235, 235) ;
}
.course-title{
   cursor: pointer;
}
.course-title:hover{
    text-decoration: underline;
}
